<ion-header>

  <ion-navbar>
    <ion-title>Agendamentos</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item-sliding *ngFor="let a of agendamentos">
      <ion-item [class.falha]="!a.confirmado">
        {{ a.carro.nome }} - {{ a.valor }}
      </ion-item>
      <ion-item-options side="right">
        <button ion-button *ngIf="!a.confirmado" (click)="reenvia(a)">Reenviar</button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
